.user-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.user-photo {
    display: flex;
    height: 180px;
    width: 200px;
    border-radius: 50%;
}

.user-photo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.photo-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.edit-button:hover {
    cursor: pointer;
}