.education-container {
    padding: 10px;
    font-size: 15px;
    color: rgb(20, 20, 20);
}

.education-card-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.date-details-container {
    display: flex;
}

.education-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    width: 150px;
}

.delete-button {
    font-size: 20px;
    color: var(--red-color);
}

.delete-button:hover {
    cursor: pointer;
}

.h {
    margin-bottom: 8px;
}

.add-button, 
.education-cancel-button {
    font-size: 25px;
    cursor: pointer;
}

.add-button {
    color: var(--green-color);
}

.education-cancel-button {
    color: var(--red-color);
}