.profile-container {
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
}

.profile-container p {
    font-size: 20px;
    width: 90%;
    margin-top: 15px;
    display: inline-block;
}

form {
    width: 100%;
}

textarea {
    width: 100%;
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 20px;
}