.left-container {
    width: var(--large-device-left-container-width);
    background-color: var(--left-container-bg-color);
    color: rgb(214, 212, 212);
}

.left-container h3 {
    font-size: 26px;
    padding: 2px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    background-color: var(--h3-background-color);
    color: rgb(236, 236, 236);
    margin-bottom: 8px;
}

.left-container h5 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(236, 236, 236);
    padding-left: 5px;
}

.left-container p {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(236, 236, 236);
}
 
.contact-container,
.skill-container {
    margin-top: 15px;
}


.skill-container {
    margin-bottom: 10px;
}