.right-container {
    width: var(--large-device-right-container-width);  
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.education-container,
.work-container {
    margin-top: 30px;
}

input[type=text] {
    padding: 5px;
    margin-bottom: 8px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 30px;
    display: block;
}

input[type=text]::placeholder {
    color: rgb(94, 94, 94);
}

textarea {
    background-color: rgb(233, 233, 233);
}

.edit-button {
    cursor: pointer;
}

.submit-button,
.cancel-button {
    background-color: var(--green-color);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
}

.cancel-button {
    background-color: var(--red-color);
    margin-left: 10px;
}