@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Lexend&family=Open+Sans&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Titillium+Web&display=swap');


:root {
    --large-device-left-container-width: 25%;
    --large-device-right-container-width: 75%;
    --medium-device-left-container-width: 30%;
    --medium-device-right-container-width: 70%;
    --small-device-left-container-width: 40%;
    --small-device-right-container-width: 60%;
    --red-color: #B92020;
    --green-color: #3EA354;
    --left-container-bg-color: #2B3467;
    --h3-background-color: #2B3467;
}

* {
    padding: 0;
    margin: 0;;
}

.edit-preview {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    background-color: rgb(80, 80, 179);
}

.big-container {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Roboto', sans-serif;
}
