.contact-container {
    font-family: 'Exo 2', sans-serif;
}

.contact-card {
    display: flex;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.contact-card img {
    height: 50px;
}